// Navbar

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgb(0, 180, 0);
  height: 5.5vh;
  width: 100%;
  position: relative;
}

#navbar::before {
  content: "";
  position: absolute;
  height: 8px;
  width: calc(100% - 4px);
  border-left: 2px solid rgb(0, 180, 0);
  border-right: 2px solid rgb(0, 180, 0);
  top: 42px;
}

#navbar > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 84%;
  height: 100%;
}

#navbar > div > div.active::before {
  content: "";
  position: absolute;
  height: 29px;
  width: 100%;
  border-left: 2px solid rgb(0, 180, 0);
  border-right: 2px solid rgb(0, 180, 0);
  border-top: 2px solid rgb(0, 180, 0);
  background-color: black;
  top: 11px;
  z-index: -1;
}

#navbar > div > div {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar > div > div > a {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem;
  background-color: black;
  padding: 0 0.5rem 0 0.5rem;
  text-decoration: none;
}

// Footer

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
}

#footer > div {
  display: flex;
  align-items: center;
  background-color: rgb(0, 48, 0);
  height: 100%;
  padding: 0.75rem;
}

#level-bar {
  border: 3px solid rgb(0, 180, 0);
  flex-grow: 1;
  margin-left: 1rem;
  height: 100%;
}

#level-bar > div {
  background-color: rgb(0, 180, 0);
  width: 70%;
  height: 100%;
}

#footer-hp {
  width: 16.25%;
  justify-content: flex-start;
}

#footer-level {
  width: 67%;
  justify-content: space-around;
}

#footer-ap {
  width: 16.25%;
  justify-content: flex-end;
}

#footer > div > h4 {
  font-size: 2rem;
  margin: 0;
}

// Container

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
}

// Main

#main {
  flex-grow: 1;
}
