<div id="container">
  <nav id="navbar">
    <div>
      <div
        *ngFor="let pageName of pagesNames; let i = index"
        [class]="selectedPageName === pageName ? 'active' : null"
      >
        <a [routerLink]="pageName">{{ pageName.toUpperCase() }}</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer id="footer">
    <div id="footer-hp">
      <h4>HP 310/310</h4>
    </div>
    <div id="footer-level">
      <h4>LEVEL 34</h4>
      <div id="level-bar">
        <div></div>
      </div>
    </div>
    <div id="footer-ap">
      <h4>AP 230/230</h4>
    </div>
  </footer>
</div>
