#header {
  position: absolute;
  display: flex;
  align-items: center;
  top: 1rem;
}

.link {
  margin-right: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

.link1 {
  opacity: 0.4;
}

.link2 {
  opacity: 0.1;
}

.link:last-child {
  margin-right: 0rem;
}

.link:not(.active, .link1, .link2) {
  visibility: hidden;
}

:host {
  position: relative;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
